// PAGE TOUTES REVUES
// SECTION TOUTES REVUES
.section-revues-toutes {
	padding: 150px 15% 100px 15%;
	background-image: url('../../src/img/img-content/bckd-actu.jpg');
	background-size: cover;
	text-align: center;
}

.section-revues-toutes {
	background-image: none;
}

.section-revues-toutes__title {
	@extend .titles2;
	margin-bottom: 95px;
	color: #000;
	text-align: left;
}

.section-revues-toutes__subtitle {
	font-family: $text-font;
	font-size: 28px;
	margin-bottom: 50px;
	color: #000;
	text-align: center;
}

.section-revues-toutes__container {
	width: 100%;
	margin-bottom: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.section-revues-toutes__list {
	display: inline-block;
	text-align: left;
	margin-bottom: 5px;
}

.section-revues-toutes__list-link {
	font-family: $title-font;
	font-size: 20px;
	color: #000;
}

.section-revues-toutes__list-li--active,
.section-revues-toutes__list-link:hover {
	color: $logo-blue;
}

.section-revues-toutes__map {
	width: 40%;
}

.section-revues-toutes__map--europe {
	width: 30%;
}

.section-revues-toutes__map-part:hover {
	fill: $logo-blue;
}

.section-revues-toutes__link {
	display: block;
	margin: 15px 0 22px 0;
	width: 100%;
	padding: 25px 0;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	border: none;
	font-family: $text-font;
	font-size: 18px;
	color: #000;
	width: 30%;
	background: $logo-blue;
	color: #fff;
	margin: auto;
	cursor: pointer;
}